# 02.03 - Data Management

## Introduction

In this Jupyter Notebook, we'll be focusing on the management of data using Python. Efficient data management is an essential skill in the field of data science. We'll be covering the following topics:

1. **Writing DataFrames**: This includes writing DataFrames to different types of files such as CSV files, Excel files, and text files.
2. **Reading DataFrames**: We'll also learn how to read DataFrames from the same types of files. This will allow us to import data from various sources and formats.
3. **Writing and Reading Objects using `pickle`**: The `pickle` module implements binary protocols for serializing and de-serializing a Python object structure. We'll cover how to use `pickle` to write and read Python objects.

By the end of this notebook, you'll have a solid understanding of how to manage data in Python. This will include the ability to import data from different sources, export data to different formats, and efficiently work with Python objects.

## Section 1: Writing DataFrames

### 1.1 - Writing DataFrames to CSV files

DataFrames can be written to CSV files using the `to_csv` function of pandas.

**Example 1: Writing a DataFrame to a CSV File**

In [1]:
import pandas as pd

# Create a simple DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Write DataFrame to CSV
df.to_csv('data_1.csv', index=False)

**Example 2: Writing a DataFrame to a CSV File with a Specific Separator**

In [2]:
# Write DataFrame to CSV with a semicolon separator
df.to_csv('data_2.csv', sep=';', index=False)

**Example 3: Writing a DataFrame to a CSV File Without Headers**

In [3]:
# Write DataFrame to CSV without headers
df.to_csv('data_3.csv', header=False, index=False)

**Example 4: Writing a DataFrame to a CSV File with a Specific Encoding**

In [4]:
# Write DataFrame to CSV with a specific encoding
df.to_csv('data_4.csv', encoding='utf-8', index=False)

**Example 5: Writing a DataFrame to a CSV File and Specifying Columns**

In [5]:
# Write DataFrame to CSV and specify columns
df.to_csv('data_5.csv', columns=['A'], index=False)

### 1.2 - Writing DataFrames to Excel files

DataFrames can also be written to Excel files using the `to_excel` function of pandas.

> **NOTE:**
> Install `openpyxl` package before running the codes below.

**Example 1: Writing a DataFrame to an Excel File**

In [6]:
# Write DataFrame to Excel
df.to_excel('data_1.xlsx', index=False)

**Example 2: Writing a DataFrame to an Excel File with a Specific Sheet Name**

In [7]:
# Write DataFrame to Excel with a specific sheet name
df.to_excel('data_2.xlsx', sheet_name='Sheet1', index=False)

**Example 3: Writing a DataFrame to an Excel File Without Headers**

In [8]:
# Write DataFrame to Excel without headers
df.to_excel('data_3.xlsx', header=False, index=False)

**Example 4: Writing a DataFrame to an Excel File and Specifying Columns**

In [9]:
# Write DataFrame to Excel and specify columns
df.to_excel('data_4.xlsx', columns=['A'], index=False)

## Section 2: Reading DataFrames

### 2.1 - Reading DataFrames from CSV files

DataFrames can be read from CSV files using the `read_csv` function of pandas.

**Example 1: Reading a DataFrame from a CSV File**

In [10]:
# Read DataFrame from CSV
df = pd.read_csv('data_1.csv')
df

   A  B
0  1  4
1  2  5
2  3  6

**Example 2: Reading a DataFrame from a CSV File with a Specific Separator**

In [11]:
# Read DataFrame from CSV with a semicolon separator
df = pd.read_csv('data_2.csv', sep=';')
df

   A  B
0  1  4
1  2  5
2  3  6

**Example 3: Reading a DataFrame from a CSV File Without Headers**

In [12]:
# Read DataFrame from CSV without headers
df = pd.read_csv('data_3.csv', header=None)
df

   0  1
0  1  4
1  2  5
2  3  6

**Example 4: Reading a DataFrame from a CSV File with a Specific Encoding**

In [13]:
# Read DataFrame from CSV with a specific encoding
df = pd.read_csv('data_4.csv', encoding='utf-8')
df

   A  B
0  1  4
1  2  5
2  3  6

**Example 5: Reading a DataFrame from a CSV File and Specifying Columns**

In [14]:
# Read DataFrame from CSV and specify columns
df = pd.read_csv('data_5.csv', usecols=['A'])
df

   A
0  1
1  2
2  3

### 2.2 - Reading DataFrames from Excel files

DataFrames can also be read from Excel files using the `read_excel` function of pandas.

**Example 1: Reading a DataFrame from an Excel File**

In [15]:
# Read DataFrame from Excel
df = pd.read_excel('data_1.xlsx')
df

   A  B
0  1  4
1  2  5
2  3  6

**Example 2: Reading a DataFrame from an Excel File with a Specific Sheet Name**

In [16]:
# Read DataFrame from Excel with a specific sheet name
df = pd.read_excel('data_2.xlsx', sheet_name='Sheet1')
df

   A  B
0  1  4
1  2  5
2  3  6

**Example 3: Reading a DataFrame from an Excel File Without Headers**

In [17]:
# Read DataFrame from Excel without headers
df = pd.read_excel('data_3.xlsx', header=None)
df

   0  1
0  1  4
1  2  5
2  3  6

**Example 4: Reading a DataFrame from an Excel File and Specifying Columns**

In [18]:
# Read DataFrame from Excel and specify columns
df = pd.read_excel('data_4.xlsx', usecols=['A'])
df

   A
0  1
1  2
2  3

## Section 3: Writing and Reading Objects using `pickle`

The `pickle` module in Python is used for serializing and de-serializing Python object structures, also called marshalling or flattening. Serialization refers to the process of converting an object in memory to a byte stream that can be stored on disk or sent over a network. Later on, this byte stream can then be retrieved and de-serialized back to a Python object.

Here are some examples of working with `pickle`:

**Example 1: Writing an Object to a Pickle File**

In [19]:
import pickle

# Create a simple dictionary
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}

# Write object to a pickle file
with open('data_1.pkl', 'wb') as f:
    pickle.dump(data, f)

**Example 2: Reading an Object from a Pickle File**

In [20]:
# Read object from a pickle file
with open('data_1.pkl', 'rb') as f:
    data = pickle.load(f)

print(data)  # Output: {'A': [1, 2, 3], 'B': [4, 5, 6]}

{'A': [1, 2, 3], 'B': [4, 5, 6]}

**Example 3: Writing Multiple Objects to a Pickle File**

In [21]:
# Create two simple dictionaries
data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'C': [7, 8, 9], 'D': [10, 11, 12]}

# Write multiple objects to a pickle file
with open('data_2.pkl', 'wb') as f:
    pickle.dump(data1, f)
    pickle.dump(data2, f)

**Example 4: Reading Multiple Objects from a Pickle File**

In [22]:
# Read multiple objects from a pickle file
with open('data_2.pkl', 'rb') as f:
    data1 = pickle.load(f)
    data2 = pickle.load(f)

print(data1)  # Output: {'A': [1, 2, 3], 'B': [4, 5, 6]}
print(data2)  # Output: {'C': [7, 8, 9], 'D': [10, 11, 12]}

{'A': [1, 2, 3], 'B': [4, 5, 6]}
{'C': [7, 8, 9], 'D': [10, 11, 12]}

**Example 5: Handling Exceptions when Reading from a Pickle File**

In [23]:
# Handle exceptions when reading from a pickle file
with open('data_2.pkl', 'rb') as f:
    while True:
        try:
            data = pickle.load(f)
            print(data)
        except EOFError:
            break  # No more objects to load

{'A': [1, 2, 3], 'B': [4, 5, 6]}
{'C': [7, 8, 9], 'D': [10, 11, 12]}

**Example 6: Writing a Class Object to a Pickle File**

In [24]:
# Create a simple class
class ExampleClass:
    def __init__(self, name, value):
        self.name = name
        self.value = value

# Create an object from the class
obj = ExampleClass('example', 123)

print(obj.name)  # Output: 'example'
print(obj.value)  # Output: 123

# Write the object to a pickle file
with open('data_3.pkl', 'wb') as f:
    pickle.dump(obj, f)

example
123

**Example 7: Reading a Class Object from a Pickle File**

In [25]:
# Read the object from a pickle file
with open('data_3.pkl', 'rb') as f:
    obj_from_file = pickle.load(f)

print(obj_from_file.name)  # Output: 'example'
print(obj_from_file.value)  # Output: 123

example
123

## Challenge

Based on the data management techniques you've learned, your task is to create two Python functions, `save_to_file` and `read_from_file`.

- `save_to_file` should take a pandas DataFrame and a filename as parameters. It should save the DataFrame to the file specified by the filename. The file format should be inferred from the filename extension (e.g., `.csv` for CSV files, `.xlsx` for Excel files, `.pkl` for pickle files). Handle any exceptions that may occur during file writing.
- `read_from_file` should take a filename as a parameter. It should read and return the content of the file as a pandas DataFrame. The file format should be inferred from the filename extension. Handle any exceptions that may occur during file reading.

### Output Format

- The `save_to_file` function should save the DataFrame to the specified file. It should not return any value.
- The `read_from_file` function should return a pandas DataFrame containing the content of the file. If the file does not exist or cannot be read, it should return an empty DataFrame.

### Explanation

Consider the following code:

```python
import pandas as pd

# Create a simple DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Save the DataFrame to a CSV file
save_to_file(df, 'data.csv')

# Read the DataFrame from the CSV file
df_from_file = read_from_file('data.csv')

# Print the DataFrame
print(df_from_file)

```

When executed with properly implemented `save_to_file` and `read_from_file` functions, this code should print the DataFrame `df`. If the file `data.csv` cannot be written to or read from, `read_from_file` should return an empty DataFrame.

In [26]:
### WRITE YOUR CODE BELOW THIS LINE ###


### WRITE YOUR CODE ABOVE THIS LINE ###