## 01.01 - Common Python Datatypes

## Introduction

Python is a high-level programming language that supports several types of data. These data types form the fundamental building blocks when working with data in Python. The most common data types in Python are:

1. **Numbers** - This includes integers (whole numbers), floating point numbers (decimals), and complex numbers.
2. **Strings** - These are sequences of character data. Strings are created by enclosing characters in quotes.
3. **Lists** - Lists are ordered sequences of items, which can be of different types. They are very similar to arrays in other programming languages.
4. **Dictionaries** - Dictionaries are unordered collections of key-value pairs. Each key is unique, and the values can be of any type.
5. **Tuples** - Tuples are ordered, immutable sequences of items. They are similar to lists, but unlike lists, they cannot be changed.
6. **Sets** - Sets are unordered collections of unique items. They are used when the existence of an item is more important than its order or frequency.
7. **Booleans** - This type includes two values, True and False, which are often used to check conditions and control the program's flow.

Understanding these data types and how to use them is key to programming effectively in Python.

## Section 1: Numbers

Numbers in Python can be integers, floating point numbers, or complex numbers. They are defined as `int`, `float`, and `complex` class in Python.

### 1.1 - Integers

Integers are whole numbers, without a fraction or decimal, and they can be positive, negative, or zero. In Python, integers are an instance of the `int` class.

Here are some examples of working with integers in Python:

**Example 1: Defining an Integer**

In [1]:
a = 5
print(type(a))  # Output: <class 'int'>

<class 'int'>

**Example 2: Basic Arithmetic Operations with Integers**

In [2]:
a = 5
b = 2

print(a + b)  # Output: 7
print(a - b)  # Output: 3
print(a * b)  # Output: 10
print(a / b)  # Output: 2.5

7
3
10
2.5

**Note:** In Python, the division operator `/` always returns a `float` result. Even if the two numbers being divided are both integers, the result will be a `float`. This type of number, along with its properties and uses, will be explained further in the next section.

**Example 3: Power Operation with Integers**

In [3]:
a = 5
b = 2

print(a ** b)  # Output: 25

25

**Example 4: Integer Division (Floor Division)**

In [4]:
a = 5
b = 2

print(a // b)  # Output: 2

2

**Example 5: Modulus Operation with Integers**

The modulus operator (`%`) returns the remainder of the division of the number on the left by the number on the right.

In [5]:
a = 5
b = 2

print(a % b)  # Output: 1

1

### 1.2 - Floats

Floating point numbers, or floats, represent real numbers and are written with a decimal point dividing the integer and decimal parts. Floats may also be in scientific notation, with E or e indicating the power of 10 (2.5e2 = 2.5 x 102 = 250).

In [6]:
x = 3.456
print(type(x))  # Output: <class 'float'>

<class 'float'>

**Example 1: Defining a Float**

In [7]:
b = 3.14
print(type(b))  # Output: <class 'float'>

<class 'float'>

**Example 2: Basic Arithmetic Operations with Floats**

In [8]:
a = 5.5
b = 2.5

print(a + b)  # Output: 8.0
print(a - b)  # Output: 3.0
print(a * b)  # Output: 13.75
print(a / b)  # Output: 2.2

8.0
3.0
13.75
2.2

**Example 3: Power Operation with Floats**

In [9]:
a = 5.5
b = 2.5

print(a ** b)  # Output: 70.94253836732938

70.94253836732938

**Example 4: Float Division (Floor Division)**

In [10]:
a = 5.5
b = 2.5

print(a // b)  # Output: 2.0

2.0

**Example 5: Modulus Operation with Floats**

In [11]:
a = 5.5
b = 2.5

print(a % b)  # Output: 0.5

0.5

### Complex Numbers

Complex numbers are an extension of the familiar real number system in which all numbers are expressed as a sum of a real part and an imaginary part. Python has built-in support for complex numbers, which are written with this latter part followed by 'j'. For example, `3 + 5j`.

In [12]:
z = 3 + 5j
print(type(z))  # Output: <class 'complex'>

<class 'complex'>

**Example 1: Defining a Complex Number**

In [13]:
c = 4 + 2j
print(type(c))  # Output: <class 'complex'>

<class 'complex'>

**Example 2: Basic Arithmetic Operations with Complex Numbers**

In [14]:
a = 2 + 3j
b = 1 + 1j

print(a + b)  # Output: (3+4j)
print(a - b)  # Output: (1+2j)
print(a * b)  # Output: (-1+5j)
print(a / b)  # Output: (2.5+0.5j)

(3+4j)
(1+2j)
(-1+5j)
(2.5+0.5j)

**Example 3: Absolute Value of a Complex Number**

The absolute value of a complex number is the square root of the sum of the squares of its real and imaginary parts. It's also known as the magnitude of the complex number.

In [15]:
a = 3 + 4j

print(abs(a))  # Output: 5.0

5.0

**Example 4: Complex Conjugate**

The conjugate of a complex number is obtained by changing the sign of its imaginary part. It's denoted as `a.conjugate()`.

In [16]:
a = 3 + 4j

print(a.conjugate())  # Output: (3-4j)

(3-4j)

**Example 5: Real and Imaginary Parts**

You can access the real and imaginary parts of complex numbers using `.real` and `.imag`.

In [17]:
a = 3 + 4j

print(a.real)  # Output: 3.0
print(a.imag)  # Output: 4.0

3.0
4.0

## Section 2: Strings

### 2.1 - Introduction to Strings

Strings in Python are sequences of characters. They are created by enclosing characters in quotes. Python treats single quotes the same as double quotes.

In [18]:
s = 'Hello, World!'
print(type(s))  # Output: <class 'str'>

<class 'str'>

### String Manipulation Methods

Python has numerous methods for manipulating strings. Here are some examples:

**Example 1: Converting to Upper and Lower Case**

In [19]:
s = 'Hello, World!'
print(s.upper())  # Output: 'HELLO, WORLD!'
print(s.lower())  # Output: 'hello, world!'

HELLO, WORLD!
hello, world!

**Example 2: Stripping Whitespace**

In [20]:
s = '   Hello, World!   '
print(s.strip())  # Output: 'Hello, World!'

Hello, World!

**Example 3: Replacing Substrings**

In [21]:
s = 'Hello, World!'
print(s.replace('World', 'Python'))  # Output: 'Hello, Python!'

Hello, Python!

**Example 4: Splitting a String into a List of Substrings**

In [22]:
s = 'apple,banana,cherry'
print(s.split(','))  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

**Example 5: Checking if a String Starts or Ends with a Substring**

In [23]:
s = 'Hello, World!'
print(s.startswith('Hello'))  # Output: True
print(s.endswith('Python'))  # Output: False

True
False

### 2.2 - Formatting Strings

Python provides several ways to format strings, injecting variables and expressions into string literals. Here are some examples:

**Example 1: Using the `%` Operator**

In [24]:
x = 10
s = 'I have %d apples.' % x
print(s)  # Output: 'I have 10 apples.'

I have 10 apples.

**Example 2: Using the `format` Method**

In [25]:
x = 10
s = 'I have {} apples.'.format(x)
print(s)  # Output: 'I have 10 apples.'

I have 10 apples.

**Example 3: Using f-strings (Python 3.6 and above)**

In [26]:
x = 10
s = f'I have {x} apples.'
print(s)  # Output: 'I have 10 apples.'

I have 10 apples.

**Example 4: Including Expressions in f-strings**

In [27]:
x = 10
y = 20
s = f'The sum of {x} and {y} is {x + y}.'
print(s)  # Output: 'The sum of 10 and 20 is 30.'

The sum of 10 and 20 is 30.

**Example 5: Formatting Numbers in f-strings**

In [28]:
x = 123.45678
s = f'The number {x:.2f} rounded to two decimal places.'
print(s)  # Output: 'The number 123.46 rounded to two decimal places.'

The number 123.46 rounded to two decimal places.

### 2.3 - String manipulation methods

Python provides a variety of methods for manipulating strings. Here are five examples:

**Example 1: The `capitalize` Method**

This method returns a copy of the original string and converts the first character of the string to a capital (uppercase) letter, while making all other characters in the string lowercase letters.

In [29]:
s = 'hello WORLD'
print(s.capitalize())  # Output: 'Hello world'

Hello world

**Example 2: The `count` Method**

This method counts the number of occurrences of a substring in the given string.

In [30]:
s = 'hello world'
print(s.count('o'))  # Output: 2

2

**Example 3: The `find` Method**

This method returns the index of the first occurrence of the specified substring in the given string. If the substring is not found, it returns -1.

In [31]:
s = 'hello world'
print(s.find('world'))  # Output: 6
print(s.find('python'))  # Output: -1

6
-1

**Example 4: The `isnumeric` Method**

This method returns `True` if all characters in the string are numeric characters (0-9), and `False` otherwise.

In [32]:
s1 = '12345'
s2 = '123abc'
print(s1.isnumeric())  # Output: True
print(s2.isnumeric())  # Output: False

True
False

**Example 5: The `join` Method**

This method concatenates a list of strings into a single string with a specified delimiter.

In [33]:
delimiter = '-'
list_of_strings = ['Hello', 'world', 'Python', 'is', 'great']
print(delimiter.join(list_of_strings))  # Output: 'Hello-world-Python-is-great'

Hello-world-Python-is-great

## Section 3: Lists

### 3.1 - Introduction to Lists

Lists are ordered sequences of items, which can be of different types. They are very versatile and are used frequently in Python programs.

In [34]:
fruits = ['apple', 'banana', 'cherry']
print(type(fruits))  # Output: <class 'list'>

<class 'list'>

### List Manipulation Examples

Here are some examples of working with lists:

**Example 1: Accessing List Items**

List items are accessed by their index, which starts at 0 for the first item.

In [35]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0])  # Output: 'apple'
print(fruits[2])  # Output: 'cherry'

apple
cherry

**Example 2: Changing List Items**

List items are mutable, which means they can be changed.

In [36]:
fruits = ['apple', 'banana', 'cherry']
fruits[0] = 'avocado'
print(fruits)  # Output: ['avocado', 'banana', 'cherry']

['avocado', 'banana', 'cherry']

**Example 3: Adding List Items**

Items can be added to a list using the `append` method.

In [37]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('date')
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'date']

['apple', 'banana', 'cherry', 'date']

**Example 4: Removing List Items**

Items can be removed from a list using the `remove` method.

In [38]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
print(fruits)  # Output: ['apple', 'cherry']

['apple', 'cherry']

**Example 5: Sorting Lists**

Lists can be sorted using the `sort` method.

In [39]:
fruits = ['cherry', 'banana', 'apple']
fruits.sort()
print(fruits)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

### 3.2 - List methods and operations

Python provides a variety of methods and operations for lists. Here are five examples:

**Example 1: The `len` Function**

The `len` function returns the number of items in a list.

In [40]:
nums = [1, 2, 3, 4, 5]
print(len(nums))  # Output: 5

5

**Example 2: The `insert` Method**

The `insert` method inserts an item at a certain position in the list. It takes two arguments: the index where the item should be inserted (with the first item at index 0), and the item itself.

In [41]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'avocado')
print(fruits)  # Output: ['apple', 'avocado', 'banana', 'cherry']

['apple', 'avocado', 'banana', 'cherry']

**Example 3: The `index` Method**

The `index` method returns the first index at which a specified item appears in a list. If the item is not in the list, Python raises a `ValueError`.

In [42]:
fruits = ['apple', 'banana', 'cherry']
print(fruits.index('banana'))  # Output: 1

1

**Example 4: The `count` Method**

The `count` method returns the number of times a specified item appears in a list.

In [43]:
nums = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(nums.count(2))  # Output: 2
print(nums.count(4))  # Output: 4

2
4

**Example 5: List Comprehension**

List comprehension is a compact way of creating a new list by performing an operation on each item in an existing list. For example, the following code creates a new list containing the squares of all numbers in the original list.

In [44]:
nums = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in nums]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

List comprehension can also include a condition. The following code creates a new list containing only the numbers from the original list that are greater than 2.

In [45]:
nums = [1, 2, 3, 4, 5]
big_nums = [num for num in nums if num > 2]
print(big_nums)  # Output: [3, 4, 5]

[3, 4, 5]

## Section 4: Dictionaries

### 4.1 - Introduction to Dictionaries

Dictionaries are unordered collections of key-value pairs, where each key is unique. They are very useful for storing data that can be looked up by a unique identifier, like a product code, username, or database ID.

In [46]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
print(type(student))  # Output: <class 'dict'>

<class 'dict'>

**Example 1: Accessing Dictionary Items**

Dictionary items are accessed by their key.

In [47]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
print(student['name'])  # Output: 'John Doe'
print(student['course'])  # Output: 'Computer Science'

John Doe
Computer Science

**Example 2: Changing Dictionary Items**

Dictionary items are mutable, which means they can be changed.

In [48]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
student['age'] = 22
print(student)  # Output: {'name': 'John Doe', 'age': 22, 'course': 'Computer Science'}

{'name': 'John Doe', 'age': 22, 'course': 'Computer Science'}

**Example 3: Adding Dictionary Items**

Items can be added to a dictionary by assigning a value to a new key.

In [49]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
student['grade'] = 'A'
print(student)  # Output: {'name': 'John Doe', 'age': 20, 'course': 'Computer Science', 'grade': 'A'}

{'name': 'John Doe', 'age': 20, 'course': 'Computer Science', 'grade': 'A'}

**Example 4: Removing Dictionary Items**

Items can be removed from a dictionary using the `del` keyword.

In [50]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
del student['age']
print(student)  # Output: {'name': 'John Doe', 'course': 'Computer Science'}

{'name': 'John Doe', 'course': 'Computer Science'}

**Example 5: Working with Nested Dictionaries**

Dictionaries can contain other dictionaries, allowing for complex data structures.

In [51]:
students = {
    'student1': {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'},
    'student2': {'name': 'Jane Doe', 'age': 22, 'course': 'Mathematics'}
}

print(students['student1']['name'])  # Output: 'John Doe'
print(students['student2']['course'])  # Output: 'Mathematics'

John Doe
Mathematics

### 4.2 - Dictionary methods and operations

Python provides a variety of methods and operations for dictionaries. Here are five examples:

**Example 1: The `get` Method**

The `get` method returns the value for a given key if it exists in the dictionary. If the key is not found, it returns a default value.

In [52]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
print(student.get('name'))  # Output: 'John Doe'
print(student.get('grade', 'N/A'))  # Output: 'N/A'

John Doe
N/A

**Example 2: The `keys` Method**

The `keys` method returns a new object that displays a list of all the keys in the dictionary.

In [53]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
print(student.keys())  # Output: dict_keys(['name', 'age', 'course'])

dict_keys(['name', 'age', 'course'])

**Example 3: The `values` Method**

The `values` method returns a new object that displays a list of all the values in the dictionary.

In [54]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
print(student.values())  # Output: dict_values(['John Doe', 20, 'Computer Science'])

dict_values(['John Doe', 20, 'Computer Science'])

**Example 4: The `items` Method**

The `items` method returns a new object that displays a list of the dictionary's key-value tuple pairs.

In [55]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
print(student.items())  # Output: dict_items([('name', 'John Doe'), ('age', 20), ('course', 'Computer Science')])

dict_items([('name', 'John Doe'), ('age', 20), ('course', 'Computer Science')])

**Example 5: The `update` Method**

The `update` method updates the dictionary with the key-value pairs from the second dictionary. If the key is not present, this pair gets added to the dictionary. If the key is in the dictionary, it updates the key with the new value.

In [56]:
student = {'name': 'John Doe', 'age': 20, 'course': 'Computer Science'}
student.update({'age': 22, 'grade': 'A'})
print(student)  # Output: {'name': 'John Doe', 'age': 22, 'course': 'Computer Science', 'grade': 'A'}

{'name': 'John Doe', 'age': 22, 'course': 'Computer Science', 'grade': 'A'}

## Section 5: Tuples

### 5.1 - Introduction to Tuples

Tuples are ordered, immutable sequences of items. They are similar to lists, but unlike lists, they cannot be changed.

In [57]:
fruits = ('apple', 'banana', 'cherry')
print(type(fruits))  # Output: <class 'tuple'>

<class 'tuple'>

**Example 1: Accessing Tuple Items**

Tuple items are accessed by their index, which starts at 0 for the first item.

In [58]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])  # Output: 'apple'
print(fruits[2])  # Output: 'cherry'

apple
cherry

**Example 2: Tuple Immutability**

Tuples are immutable, which means they cannot be changed. Trying to change a tuple will result in an error.

In [59]:
fruits = ('apple', 'banana', 'cherry')
fruits[0] = 'avocado'  # Output: TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

**Example 3: Concatenating Tuples**

You can concatenate tuples to create a new tuple.

In [61]:
fruits = ('apple', 'banana', 'cherry')
more_fruits = ('date', 'elderberry')
all_fruits = fruits + more_fruits
print(all_fruits)  # Output: ('apple', 'banana', 'cherry', 'date', 'elderberry')

('apple', 'banana', 'cherry', 'date', 'elderberry')

**Example 4: Tuple Packing and Unpacking**

Tuple packing is the term for packing a sequence of values into a tuple without using parentheses.

In [62]:
fruits = 'apple', 'banana', 'cherry'
print(type(fruits))  # Output: <class 'tuple'>

<class 'tuple'>

Tuple unpacking is the term for assigning the items from a tuple into a sequence of variables.

In [63]:
fruits = ('apple', 'banana', 'cherry')
a, b, c = fruits
print(a)  # Output: 'apple'
print(b)  # Output: 'banana'
print(c)  # Output: 'cherry'

apple
banana
cherry

**Example 5: Single-Element Tuples**

A tuple with a single item is called a singleton tuple. It requires a trailing comma to distinguish it from a parenthesized expression.

In [64]:
singleton = ('apple',)
print(type(singleton))  # Output: <class 'tuple'>

<class 'tuple'>

### 5.2 - Comparison with Lists

Tuples and lists share a few similar characteristics, but also have some distinct differences. Here are some examples that illustrate these differences:

**Example 1: Mutability**

One of the main differences between tuples and lists is that lists are mutable, meaning you can change their content, whereas tuples are immutable.

In [65]:
# List
fruits_list = ['apple', 'banana', 'cherry']
fruits_list[0] = 'avocado'
print(fruits_list)  # Output: ['avocado', 'banana', 'cherry']

# Tuple
fruits_tuple = ('apple', 'banana', 'cherry')
fruits_tuple[0] = 'avocado'  # Output: TypeError: 'tuple' object does not support item assignment

['avocado', 'banana', 'cherry']

TypeError: 'tuple' object does not support item assignment

**Example 2: Memory Usage**

Tuples are generally more memory-efficient than lists. This can be useful when working with large amounts of data.

In [66]:
import sys

fruits_list = ['apple', 'banana', 'cherry']
fruits_tuple = ('apple', 'banana', 'cherry')

print(sys.getsizeof(fruits_list))  # Output: 88
print(sys.getsizeof(fruits_tuple))  # Output: 64

88
64

**Example 3: Use as Dictionary Keys**

Tuples can be used as dictionary keys, while lists cannot. That's because dictionary keys need to be immutable, like strings, numbers, or tuples.

In [67]:
fruits_dict = {('apple', 'banana', 'cherry'): 'delicious'}
print(fruits_dict)  # Output: {('apple', 'banana', 'cherry'): 'delicious'}

{('apple', 'banana', 'cherry'): 'delicious'}

**Example 4: Unpackaging**

Both lists and tuples can be unpacked.

In [68]:
# List
fruits_list = ['apple', 'banana', 'cherry']
a, b, c = fruits_list
print(a, b, c)  # Output: apple banana cherry

# Tuple
fruits_tuple = ('apple', 'banana', 'cherry')
x, y, z = fruits_tuple
print(x, y, z)  # Output: apple banana cherry

apple banana cherry
apple banana cherry

**Example 5: Use in Function Arguments**

Tuples are often used for a specific number of function arguments, while lists are used for an arbitrary number of arguments.

In [69]:
# Tuple
def print_coordinates(x, y):
    print(f'Coordinates: {x}, {y}')

coordinates_tuple = (10, 20)
print_coordinates(*coordinates_tuple)  # Output: Coordinates: 10, 20

# List
def print_all_fruits(*fruits):
    for fruit in fruits:
        print(fruit)

fruits_list = ['apple', 'banana', 'cherry']
print_all_fruits(*fruits_list)  # Output: apple, banana, cherry

Coordinates: 10, 20
apple
banana
cherry

## Section 6: Sets

### 6.1 - Introduction to sets

Sets are unordered collections of unique elements. They are mutable, but the elements contained in the set must be of an immutable type.

In [70]:
fruits = {'apple', 'banana', 'cherry'}
print(type(fruits))  # Output: <class 'set'>

<class 'set'>

**Example 1: Adding and Removing Elements**

You can add an element to a set using the `add` method, and remove an element using the `remove` method.

In [71]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('date')
print(fruits)  # Output: {'date', 'cherry', 'banana', 'apple'}
fruits.remove('apple')
print(fruits)  # Output: {'date', 'cherry', 'banana'}

{'date', 'apple', 'cherry', 'banana'}
{'date', 'cherry', 'banana'}

**Example 2: Checking Membership**

You can check whether an item is in a set using the `in` keyword.

In [72]:
fruits = {'apple', 'banana', 'cherry'}
print('apple' in fruits)  # Output: True
print('kiwi' in fruits)  # Output: False

True
False

**Example 3: Set Operations**

Sets support mathematical operations like union, intersection, difference, and symmetric difference.

In [73]:
fruits = {'apple', 'banana', 'cherry'}
citrus = {'orange', 'lemon', 'grapefruit', 'lime'}

# Union
print(fruits.union(citrus))  # Output: {'cherry', 'lime', 'grapefruit', 'banana', 'lemon', 'orange', 'apple'}

# Intersection
print(fruits.intersection(citrus))  # Output: set()

# Difference
print(fruits.difference(citrus))  # Output: {'cherry', 'banana', 'apple'}

# Symmetric Difference
print(fruits.symmetric_difference(citrus))  # Output: {'cherry', 'lime', 'grapefruit', 'banana', 'lemon', 'orange', 'apple'}

{'orange', 'apple', 'banana', 'grapefruit', 'lemon', 'cherry', 'lime'}
set()
{'apple', 'cherry', 'banana'}
{'orange', 'banana', 'lemon', 'cherry', 'apple', 'grapefruit', 'lime'}

**Example 4: Subset, Superset, and Disjoint**

You can check whether a set is a subset, superset, or disjoint with another set.

In [74]:
fruits = {'apple', 'banana', 'cherry'}
citrus = {'orange', 'lemon', 'grapefruit', 'lime'}
all_fruits = {'apple', 'banana', 'cherry', 'orange', 'lemon', 'grapefruit', 'lime', 'kiwi'}

# Subset
print(fruits.issubset(all_fruits))  # Output: True

# Superset
print(all_fruits.issuperset(citrus))  # Output: True

# Disjoint
print(fruits.isdisjoint(citrus))  # Output: True

True
True
True

**Example 5: Converting Lists to Sets**

One common use of sets is removing duplicates from a list. Since sets cannot contain duplicate elements, converting a list to a set automatically removes duplicates.

In [75]:
fruits_list = ['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']
fruits_set = set(fruits_list)
print(fruits_set)  # Output: {'cherry', 'banana', 'apple'}

{'apple', 'cherry', 'banana'}

### 6.2 - Set operations

Sets in Python provide a range of in-built methods for common set operations. These operations help in performing and simplifying complex tasks in a convenient way.

**Example 1: The `add` Method**

The `add` method adds an element to the set. If the element already exists, the set remains unchanged.

In [76]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('date')
print(fruits)  # Output: {'date', 'cherry', 'banana', 'apple'}

{'date', 'apple', 'cherry', 'banana'}

**Example 2: The `intersection_update` Method**

The `intersection_update` method updates the set with the intersection of itself and another set.

In [77]:
fruits = {'apple', 'banana', 'cherry'}
citrus = {'banana', 'lemon'}
fruits.intersection_update(citrus)
print(fruits)  # Output: {'banana'}

{'banana'}

**Example 3: The `difference_update` Method**

The `difference_update` method removes all elements of another set from this set.

In [78]:
fruits = {'apple', 'banana', 'cherry'}
citrus = {'banana', 'lemon'}
fruits.difference_update(citrus)
print(fruits)  # Output: {'apple', 'cherry'}

{'apple', 'cherry'}

**Example 4: The `symmetric_difference` Method**

The `symmetric_difference` method returns a new set which is the symmetric difference of two sets. The symmetric difference of two sets is the set of elements which are in either of the sets but not in their intersection.

In [79]:
fruits = {'apple', 'banana', 'cherry'}
citrus = {'banana', 'lemon'}
print(fruits.symmetric_difference(citrus))  # Output: {'cherry', 'lemon', 'apple'}

{'apple', 'lemon', 'cherry'}

**Example 5: The `issubset`, `issuperset` and `isdisjoint` Methods**

The `issubset` and `issuperset` methods are used to check if the set is a subset or superset of another set respectively. The `isdisjoint` method checks if two sets are disjoint.

In [80]:
fruits = {'apple', 'banana', 'cherry'}
citrus = {'banana'}
all_fruits = {'apple', 'banana', 'cherry', 'lemon'}

print(citrus.issubset(fruits))  # Output: True
print(all_fruits.issuperset(fruits))  # Output: True
print(fruits.isdisjoint(citrus))  # Output: False

True
True
False

## Section 7: Booleans

### 7.1 - Introduction to Booleans

Booleans represent one of two values: `True` or `False`. In programming, you often need to know if an expression is `True` or `False`. You can evaluate any expression in Python, and get one of two answers, `True` or `False`.

**Example 1: Basic Boolean Values**

In [81]:
print(True)  # Output: True
print(False)  # Output: False

True
False

**Example 2: Boolean in Conditions**

Booleans are often used in conditional statements where a condition is checked and based on the outcome (either `True` or `False`), the program decides whether to execute a block of code or not.

In [82]:
x = 10
y = 20

if x < y:
    print(True)  # Output: True
else:
    print(False)

True

**Example 3: Comparison Operators**

Comparison operators are used to compare values. It either returns `True` or `False` according to the condition.

In [83]:
x = 10
y = 20

print(x == y)  # Output: False (because 10 is not equal to 20)
print(x != y)  # Output: True (because 10 is not equal to 20)
print(x < y)  # Output: True (because 10 is less than 20)
print(x > y)  # Output: False (because 10 is not greater than 20)

False
True
True
False

**Example 4: Logical Operators**

Logical operators are used to combine conditional statements. It either returns `True` or `False` according to the condition.

In [84]:
x = 10
y = 20

# returns True because one of the statements is true (x is less than y)
print(x < 15 or y > 15)  # Output: True

# returns True because both statements are true
print(x < 15 and y > 15)  # Output: True

# reverse the result, returns False if the result is true
print(not(x < 15 and y > 15))  # Output: False

True
True
False

**Example 5: is and is not Operators**

`is` and `is not` are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory.

In [85]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

# returns True because z is the same object as x
print(z is x)  # Output: True

# returns False because x is not the same object as y, even if they have the same content
print(x is y)  # Output: False

# to demonstrate the difference between is and ==: this comparison returns True because x's content is equal to y's content
print(x == y)  # Output: True

True
False
True

### 7.2 - Boolean Operations and Their Importance in Conditional Statements

Boolean operations in Python include `and`, `or`, and `not`. They are used in conditional statements to test multiple conditions.

**Example 1: Using `and` Operator**

The `and` operator returns `True` if both the operands (i.e., conditions) are true.

In [86]:
x = 10
y = 20
z = 30

if x < y and y < z:
    print(True)  # Output: True
else:
    print(False)

True

**Example 2: Using `or` Operator**

The `or` operator returns `True` if at least one of the operands (i.e., conditions) is true.

In [87]:
x = 10
y = 20
z = 30

if x > y or y < z:
    print(True)  # Output: True
else:
    print(False)

True

**Example 3: Using `not` Operator**

The `not` operator returns `True` if the operand (i.e., condition) is false.

In [88]:
x = 10
y = 20

if not x > y:
    print(True)  # Output: True
else:
    print(False)

True

**Example 4: Combining Boolean Operators**

You can combine boolean operators in your conditions.

In [89]:
x = 10
y = 20
z = 30

if x < y and not y > z:
    print(True)  # Output: True
else:
    print(False)

True

**Example 5: Complex Conditions**

You can test complex conditions by combining multiple boolean operations.

In [90]:
x = 10
y = 20
z = 30
w = 40

if (x < y and y < z) or not z > w:
    print(True)  # Output: True
else:
    print(False)

True

In all these examples, the code block inside the `if` statement is executed if the condition evaluates to `True`. Otherwise, the code block inside the `else` statement is executed.

## Challenge: Count Unique Animals in a List

Here is your challenge:

You are given a list of animals as shown below:

In [91]:
animals = ["Dog", "Cat", "Horse", "Dog", "Cat", "Mouse", "Dog", "Horse", "Elephant", "Zebra", "Ape", "Bird", "Butterfly", "Ant", "Eagle", "Hawk", "Shark", "Lion", "Tiger", "Penguin", "Dog", "Cat", "Horse", "Dog", "Cat", "Mouse", "Dog", "Horse", "Elephant", "Zebra", "Ape", "Bird", "Butterfly", "Ant", "Eagle", "Hawk", "Shark", "Lion", "Tiger", "Penguin", "Dog", "Cat", "Horse", "Dog", "Cat", "Mouse", "Dog", "Horse", "Elephant", "Zebra", "Ape", "Bird", "Butterfly", "Ant", "Eagle", "Hawk", "Shark", "Lion", "Tiger", "Penguin", "Dog", "Cat", "Horse", "Dog", "Cat", "Mouse", "Dog", "Horse", "Elephant", "Zebra", "Ape", "Bird", "Butterfly", "Ant", "Eagle", "Hawk", "Shark", "Lion", "Tiger", "Penguin", "Dog", "Cat", "Horse", "Dog", "Cat", "Mouse", "Dog", "Horse", "Elephant", "Zebra", "Ape", "Bird", "Butterfly", "Ant", "Eagle", "Hawk", "Shark", "Lion", "Tiger", "Penguin"]

However, some animals might appear more than once in the list. Your task is to determine the number of unique animals contained in this list.

Remember, there is a specific Python data type that can make this task significantly easier. Try to figure out which one. Good luck!

In [ ]:
### WRITE YOUR CODE BELOW THIS LINE ###


### WRITE YOUR CODE ABOVE THIS LINE ###